.container {
  width: 960px;
  margin: auto;
  border: 2px black solid;
}

.nav {
  text-align: right;
  padding: 10px;
  word-spacing: 20px;
}

.borderBottom {
  border-bottom: 2px gray solid;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
}

.mainImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splashImg {
  height: 300px;
  width: 300px;
}
